.body {
  background-color: bisque;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tree {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-input {
    padding-left: 2rem;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  width: 1px;
}
.custom-file-input::before {
  content: "Select file";
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
